$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-white: #fff;
$clr-grey: #f5edff;
$clr-grey2: #e8e8e8;
$clr-grey3: #f6f6f6;
$clr-grey4: #979393;
$clr-grey5: #7e7e7e;
$clr-grey6: #4b4b4b;
$clr-grey7: #353535;
$clr-fonctshadowhover: #c3b4d4;