footer {
    background: $clr-grey7;
    color:$clr-white;
    height: 197px;

    h1 {
        padding: 20px 0 0 25px;
        font-size: 20px;
    }

    ul {
        padding: 15px 0 0 20px;
    }

    li {
        padding-bottom: 8px;
    }

    a {
        text-decoration: none;
        color: $clr-white;
    }

    .fa-hands-helping {
        font-size: 11px;
        margin-right: 12px;
    }

    .fa-utensils {
        margin-right: 12px;
    }
}