/*Pages index*/

header {
    .logo {
        height: 63px;
        @include flex-centercenter;
    }

    h1 {
        font-size: 1.8em;
    }
}

/*Pages menus*/

header {
    .fa-arrow-left {
        color: $clr-grey7;
        position: absolute;
        left: 23px;
        top: 25px;
        font-size: 1.2rem;
    }
}