h1 {
    font-family: "Shrikhand";
    font-weight: 500;
}

h2, h3, h4, h5, h6, p, a, i, li, strong, span {
    font-family: "Roboto";
}

h2, h3, h4, h5, h6 {
    font-weight: bolder;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.08em;
}

h4 {
    font-size: 1.1em;
}

span {
    font-size: 1em;
}

a {
    text-decoration: none;
}