/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

h1, h2, h3, h5, h6, p, a, i, li, strong, span {
  font-family: "Roboto";
}

h4 {
  font-family: "Shrikhand";
}

h1, h2, h3 {
  font-weight: bolder;
}

h1 {
  font-size: 1.57em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.57em;
}

span {
  font-size: 1em;
}

.logo {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.locate {
  background: #eaeaea;
  height: 50px;
}

.locate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-map-marker-alt {
  color: #353535;
}

.locate p {
  margin-left: 19px;
  color: #353535;
}

.entete {
  background: #f6f6f6;
  max-width: 100%;
  text-align: center;
  padding: 45px 30px 56px 39px;
}

.entete p {
  font-size: 1.05em;
  margin: 16px 0 32px 0;
}

.button {
  font-size: 1em;
  color: white;
  font-weight: 500;
  padding: 15px 15px;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
  border: 1px solid transparent;
  background: linear-gradient(170deg, #FF79DA 4%, #9356DC 100%);
  -webkit-box-shadow: 1px 1px 5px #979393;
          box-shadow: 1px 1px 5px #979393;
}

.button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 1px 3px 5px #979393;
          box-shadow: 1px 3px 5px #979393;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  text-align: center;
  padding: 52px 20px;
}

.fonctionnement h2 {
  text-align: left;
  margin-bottom: 35px;
}

.fonct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  text-align: center;
}

.fonct li {
  font-weight: bolder;
}

.fonct1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  text-align: center;
  height: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  margin: 0 0 25px 13px;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px #e8e8e8;
          box-shadow: 1px 5px 10px #e8e8e8;
}

.fonct1:hover {
  background: #f5edff;
}

.fa-mobile-alt {
  margin-right: 28px;
  color: #7e7e7e;
}

.fonct1:hover > .fa-mobile-alt {
  color: #9356DC;
}

.fonct2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  text-align: center;
  height: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  margin: 0 0 25px 13px;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px #e8e8e8;
          box-shadow: 1px 5px 10px #e8e8e8;
}

.fonct2:hover {
  background: #f5edff;
}

.fa-list {
  margin-right: 24px;
  color: #7e7e7e;
}

.fonct2:hover > .fa-list {
  color: #9356DC;
}

.fonct3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  text-align: center;
  height: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  margin: 0 0 0 13px;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px #e8e8e8;
          box-shadow: 1px 5px 10px #e8e8e8;
}

.fonct3:hover {
  background: #f5edff;
}

.fa-store {
  margin-right: 21px;
  color: #7e7e7e;
}

.fonct3:hover > .fa-store {
  color: #9356DC;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26px;
  height: 26px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px solid transparent;
  border-radius: 50% 50% 50% 50%;
  background: #9356DC;
  font-weight: 400;
  position: absolute;
  left: 2px;
}

.restaurants {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  text-align: center;
  max-width: 100%;
  padding: 60px 20px 42px 20px;
}

.restaurants h2 {
  text-align: left;
  margin-bottom: 23px;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  -webkit-box-shadow: 1px 3px 10px #e5e5e5;
          box-shadow: 1px 3px 10px #e5e5e5;
  margin-bottom: 18px;
}

.restaurants a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: black;
}

.restaurant img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 174px;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.restnew {
  position: relative;
}

.new {
  position: absolute;
  top: 14px;
  right: 12px;
  color: #008766;
  background: #99E2D0;
  font-weight: 500;
  padding: 6px 10px;
  font-size: 0.9rem;
  border-radius: 3px 3px 3px 3px;
}

.text {
  position: relative;
  text-align: left;
  background: white;
  border-radius: 0 0 15px 15px;
}

.text h3 {
  padding-top: 20px;
  padding-left: 14px;
}

.text p {
  padding-bottom: 20px;
  padding-left: 14px;
}

.vide {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.6em;
  color: #4b4b4b;
}

.plein {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.6em;
  color: transparent;
}

.vide:hover {
  font-size: 1.6em;
  color: transparent;
}

.plein:hover {
  background-image: linear-gradient(10deg, #FF79DA 4%, #9356DC 100%);
  background-clip: text;
}

a {
  text-decoration: none;
}

footer {
  background: #353535;
  color: white;
  height: 197px;
}

footer h4 {
  padding: 20px 0 0 25px;
  font-size: 20px;
}

footer ul {
  padding: 15px 0 0 20px;
}

footer li {
  padding-bottom: 8px;
}

.fa-hands-helping {
  font-size: 11px;
}

.fa-utensils, .fa-hands-helping {
  margin-right: 12px;
}

footer a {
  text-decoration: none;
  color: white;
}

/*Pages menus*/
header .fa-arrow-left {
  color: #353535;
  position: absolute;
  left: 23px;
  top: 25px;
  font-size: 1.2rem;
}

.photorestaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photorestaurant img {
  max-width: 100%;
  max-height: 257px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  background-color: #f6f6f6;
  padding: 15px 15px 83px 15px;
  border-radius: 35px 35px 0 0;
  margin-top: -30px;
}

.cartemenu h5 {
  margin: 35px 0 0 7px;
  position: relative;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.barre {
  width: 40px;
  border: 3px solid #99E2D0;
  margin: 9px 0 14px 6px;
}

.menu h4 {
  margin-top: 18px;
}

.vide1 {
  position: absolute;
  top: 38px;
  right: 38px;
  font-size: 1.6em;
  color: #4b4b4b;
}

.plein1 {
  position: absolute;
  top: 38px;
  right: 38px;
  font-size: 1.6em;
  color: transparent;
}

.carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 14px;
}

.carte__txt h3 {
  margin: 16px 0 0 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.carte__txt p {
  margin: 12px 0px 16px 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.carte__prix p {
  position: absolute;
  top: 42px;
  right: 23px;
}

.command {
  text-align: center;
}

.button2 {
  font-size: 1em;
  color: white;
  font-weight: 500;
  padding: 18px 49px 20px 49px;
  margin-top: 36px;
  border-radius: 35px;
  cursor: pointer;
  border: 1px solid transparent;
  background: linear-gradient(170deg, #FF79DA 4%, #9356DC 100%);
  -webkit-box-shadow: 1px 1px 5px #979393;
          box-shadow: 1px 1px 5px #979393;
}

.button2:hover {
  opacity: 0.9;
  -webkit-box-shadow: 1px 3px 5px #979393;
          box-shadow: 1px 3px 5px #979393;
}
/*# sourceMappingURL=style.css.map */