/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

h1 {
  font-family: "Shrikhand";
  font-weight: bolder;
}

h2, h3, h4, h5, h6, p, a, i, li, strong, span {
  font-family: "Roboto";
}

h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

h1 {
  font-size: 1.62em;
}

h2 {
  font-size: 1.57em;
}

h3 {
  font-size: 1.08em;
}

h4 {
  font-size: 1.1em;
}

span {
  font-size: 1em;
}

a {
  text-decoration: none;
}

header .logo {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .degrade {
  height: 6px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#eaeaea));
  background: linear-gradient(#cfcfcf, #eaeaea);
  border: none;
}

header .locate {
  background: #eaeaea;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .locate .fa-map-marker-alt {
  color: #353535;
}

header .locate p {
  margin-left: 19px;
  color: #353535;
}

.entete {
  background: #f6f6f6;
  max-width: 100%;
  text-align: center;
  padding: 45px 30px 56px 39px;
}

.entete p {
  font-size: 1.05em;
  margin: 16px 0 32px 0;
}

.entete .button {
  font-size: 1em;
  color: white;
  font-weight: 550;
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  background: linear-gradient(170deg, #FF79DA 4%, #9356DC 100%);
  -webkit-box-shadow: 1px 1px 5px #979393;
          box-shadow: 1px 1px 5px #979393;
}

.entete .button:hover {
  opacity: 0.85;
  -webkit-box-shadow: 1px 3px 5px #979393;
          box-shadow: 1px 3px 5px #979393;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  text-align: center;
  padding: 52px 20px;
}

.fonctionnement h3 {
  text-align: left;
  margin-bottom: 35px;
  font-size: 1.5em;
}

.fonctionnement .fonct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  text-align: center;
}

.fonctionnement .fonct li {
  font-weight: bolder;
}

.fonctionnement .fonct__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  text-align: center;
  height: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  margin: 0 0 25px 13px;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px #e8e8e8;
          box-shadow: 1px 5px 10px #e8e8e8;
}

.fonctionnement .fonct__1:hover {
  background: #f5edff;
  -webkit-box-shadow: 1px 5px 10px #c3b4d4;
          box-shadow: 1px 5px 10px #c3b4d4;
}

.fonctionnement .fonct .fa-mobile-alt {
  margin-right: 28px;
  color: #7e7e7e;
}

.fonctionnement .fonct .fonct__1:hover > .fa-mobile-alt {
  color: #9356DC;
}

.fonctionnement .fonct__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  text-align: center;
  height: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  margin: 0 0 25px 13px;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px #e8e8e8;
          box-shadow: 1px 5px 10px #e8e8e8;
}

.fonctionnement .fonct__2:hover {
  background: #f5edff;
  -webkit-box-shadow: 1px 5px 10px #c3b4d4;
          box-shadow: 1px 5px 10px #c3b4d4;
}

.fonctionnement .fonct .fa-list {
  margin-right: 24px;
  color: #7e7e7e;
}

.fonctionnement .fonct .fonct__2:hover > .fa-list {
  color: #9356DC;
}

.fonctionnement .fonct__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  text-align: center;
  height: 73px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  margin: 0 0 0 13px;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px #e8e8e8;
          box-shadow: 1px 5px 10px #e8e8e8;
}

.fonctionnement .fonct__3:hover {
  background: #f5edff;
  -webkit-box-shadow: 1px 5px 10px #c3b4d4;
          box-shadow: 1px 5px 10px #c3b4d4;
}

.fonctionnement .fonct .fa-store {
  margin-right: 21px;
  color: #7e7e7e;
}

.fonctionnement .fonct .fonct__3:hover > .fa-store {
  color: #9356DC;
}

.fonctionnement .fonct__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26px;
  height: 26px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px solid transparent;
  border-radius: 50% 50% 50% 50%;
  background: #9356DC;
  font-weight: 400;
  position: absolute;
  left: 2px;
}

.restaurants {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  text-align: center;
  max-width: 100%;
  padding: 60px 20px 42px 20px;
}

.restaurants a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: black;
}

.restaurants h3 {
  text-align: left;
  margin-bottom: 23px;
  font-size: 1.5em;
}

.restaurants .restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 18px;
}

.restaurants .restaurant img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 174px;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.restaurants .restnew {
  position: relative;
}

.restaurants .new {
  position: absolute;
  top: 14px;
  right: 12px;
  color: #008766;
  background: #99E2D0;
  font-weight: 500;
  padding: 6px 10px;
  font-size: 0.9rem;
  border-radius: 3px;
}

.restaurants .text {
  position: relative;
  text-align: left;
  background: white;
  border-radius: 0 0 15px 15px;
}

.restaurants .text h4 {
  padding: 17px 0 6px 14px;
}

.restaurants .text p {
  font-size: 1.06rem;
  font-weight: lighter;
  padding: 0px 0px 17px 14px;
}

.restaurants .coeurvide {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.6em;
  color: #4b4b4b;
}

.restaurants .coeurplein {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.6em;
  color: transparent;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-image: linear-gradient(10deg, #FF79DA 4%, #9356DC 100%);
  background-clip: text;
}

.restaurants .coeurplein:hover {
  opacity: 1;
}

footer {
  background: #353535;
  color: white;
  height: 197px;
}

footer h1 {
  padding: 20px 0 0 25px;
  font-size: 20px;
}

footer ul {
  padding: 15px 0 0 20px;
}

footer li {
  padding-bottom: 8px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .fa-hands-helping {
  font-size: 11px;
  margin-right: 12px;
}

footer .fa-utensils {
  margin-right: 12px;
}

/*Pages menus*/
.fa-arrow-left {
  color: #353535;
  position: absolute;
  left: 23px;
  top: 25px;
  font-size: 1.2rem;
}

.photorestaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photorestaurant img {
  max-width: 100%;
  max-height: 257px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  background-color: #f6f6f6;
  padding: 34px 15px 83px 15px;
  border-radius: 35px 35px 0 0;
  margin-top: -30px;
}

.menu h4 {
  margin-top: 18px;
}

.menu .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 3rem;
  font-size: 1.15rem;
}

.menu .title i {
  font-size: 1.6rem;
}

.menu .coeurvide1 {
  position: absolute;
  top: 38px;
  right: 38px;
  font-size: 1.6em;
  color: #4b4b4b;
}

.menu .coeurplein1 {
  position: absolute;
  top: 38px;
  right: 38px;
  font-size: 1.6em;
  color: transparent;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-image: linear-gradient(10deg, #FF79DA 4%, #9356DC 100%);
  background-clip: text;
}

.menu .coeurplein1:hover {
  opacity: 1;
}

.menu .cartemenu h4 {
  margin: 35px 0 0 7px;
  position: relative;
  font-weight: normal;
  color: #7b7b7b;
}

.menu .cartemenu__barre {
  width: 40px;
  height: 3px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  margin: 9px 0 14px 6px;
}

.menu .cartemenu .carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 14px;
  cursor: pointer;
  overflow: hidden;
  -webkit-animation: slide-item 1.3s .3s ease-in-out both;
          animation: slide-item 1.3s .3s ease-in-out both;
}

.menu .cartemenu .carte h3 {
  margin: 16px 0 0 11px;
}

.menu .cartemenu .carte p {
  margin: 12px 0px 16px 11px;
  font-size: 0.93em;
  font-weight: lighter;
}

.menu .cartemenu .carte__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.menu .cartemenu .carte__txt p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .cartemenu .carte__txt h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu .cartemenu .carte__prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 23px;
}

.menu .cartemenu .carte__prix p {
  font-weight: bold;
}

.menu .cartemenu .carte:hover .carte__animation {
  margin-right: 0;
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

.menu .cartemenu .carte:hover i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.menu .cartemenu .carte:hover:hover .carte__animation {
  margin-right: 0;
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

.menu .cartemenu .carte:hover:hover i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

.menu .cartemenu .carte__animation {
  margin-right: -59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  color: #fff;
  width: 59px;
  min-height: 100%;
  font-size: 1.3rem;
}

.menu .cartemenu .carte__animation i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.menu .cartemenu .carte__animation:hover .carte__animation {
  margin-right: 0;
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

.menu .cartemenu .carte__animation:hover i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

.menu .button2 {
  font-size: 1em;
  color: white;
  font-weight: 500;
  padding: 19px 49px;
  margin-top: 36px;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  background: linear-gradient(170deg, #FF79DA 4%, #9356DC 100%);
  -webkit-box-shadow: 1px 1px 5px #979393;
          box-shadow: 1px 1px 5px #979393;
}

.menu .button2__command {
  text-align: center;
}

.menu .button2:hover {
  opacity: 0.85;
  -webkit-box-shadow: 1px 3px 5px #979393;
          box-shadow: 1px 3px 5px #979393;
}
/*# sourceMappingURL=style.css.map */