@import "libs/reset.scss";

$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;

h1 {
    font-family: "Shrikhand";
    font-weight: 500;
}

h2, h3, h4, h5, h6, p, a, i, li, strong, span {
    font-family: "Roboto";
}

h2, h3, h4, h5, h6 {
    font-weight: bolder;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.57em;
}

h3 {
    font-size: 1.08em;
}

h4 {
    font-size: 1.1em;
}

span {
    font-size: 1em;
}

a {
    text-decoration: none;
}

header {
    .logo {
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.8em;
    }
}

main {
    .degrade {
        height: 6px;
        width: 100%;
        background: linear-gradient(#cfcfcf, #eaeaea);
        border: none;
    }

    .locate {
        background: #eaeaea;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-map-marker-alt {
            color: #353535;
        }

        p {
            margin-left: 19px;
            color: #353535;
        }
    }

    .entete {
        background: #f6f6f6;
        max-width: 100%;
        text-align: center;
        padding: 45px 30px 56px 39px;

        p {
            font-size: 1.05em;
            font-weight: lighter;
            margin: 16px 0 32px 0;
        }

        .button {
            font-size: 1em;
            color: white;
            font-weight: 550;
            padding: 15px;
            border-radius: 25px;
            cursor: pointer;
            border: none;
            background: linear-gradient(170deg, $clr-secondary 4%, $clr-primary 100%);
            box-shadow: 1px 1px 5px #979393;
    
            &:hover {
                opacity: 0.85;
                box-shadow: 1px 3px 5px #979393;
            }
        }
    }

    .fonctionnement {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
        text-align: center;
        padding: 52px 20px;

        h3 {
            text-align: left;
            margin-bottom: 35px;
            font-size: 1.5em;
        }

        .fonct {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 100%;
            text-align: center;
    
            li {
                font-weight: bolder;
            }
    
            &__1 {
                display: flex;
                max-width: 100%;
                text-align: center;
                height: 73px;
                align-items: center;
                justify-content: start;
                padding-left: 37px;
                border: none;
                background: #f6f6f6;
                border-radius: 25px 25px 25px 25px;
                margin: 0 0 25px 13px;
                cursor: pointer;
                box-shadow: 1px 5px 10px #e8e8e8;
        
                &:hover {
                    background: #f5edff;
                    box-shadow: 1px 5px 10px #c3b4d4;
                }
            }
    
            .fa-mobile-alt {
                margin-right: 28px;
                color: #7e7e7e;
            }
        
            .fonct__1:hover > .fa-mobile-alt {
                color: $clr-primary;
            }
    
            &__2 {
                display: flex;
                max-width: 100%;
                text-align: center;
                height: 73px;
                align-items: center;
                justify-content: start;
                padding-left: 37px;
                border: none;
                background: #f6f6f6;
                border-radius: 25px 25px 25px 25px;
                margin: 0 0 25px 13px;
                cursor: pointer;
                box-shadow: 1px 5px 10px #e8e8e8;
        
                &:hover {
                    background: #f5edff;
                    box-shadow: 1px 5px 10px #c3b4d4;
                }
            }
    
            .fa-list {
                margin-right: 24px;
                color: #7e7e7e;
            }
        
            .fonct__2:hover > .fa-list {
                color: $clr-primary;
            }
        
            &__3 {
                display: flex;
                max-width: 100%;
                text-align: center;
                height: 73px;
                align-items: center;
                justify-content: start;
                padding-left: 37px;
                border: none;
                background: #f6f6f6;
                border-radius: 25px 25px 25px 25px;
                margin: 0 0 0 13px;
                cursor: pointer;
                box-shadow: 1px 5px 10px #e8e8e8;
        
                &:hover {
                    background: #f5edff;
                    box-shadow: 1px 5px 10px #c3b4d4;
                }
            }
    
            .fa-store {
                margin-right: 21px;
                color: #7e7e7e;
            }
        
            .fonct__3:hover > .fa-store {
                color: $clr-primary;
            }
    
            &__number {
                display: flex;
                width: 26px;
                height: 26px;
                color: white;
                align-items: center;
                justify-content: center;
                border: 5px solid transparent;
                border-radius: 50% 50% 50% 50%;
                background: $clr-primary;
                font-weight: 400;
                position: absolute;
                left: 2px
            }
        }
    }

    .restaurants {
        background: #f6f6f6;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        text-align: center;
        max-width: 100%;
        padding: 60px 20px 42px 20px;

        a {
            display: flex;
            width: 100%;
            text-decoration: none;
            color: black;
        }

        h3 {
            text-align: left;
            margin-bottom: 23px;
            font-size: 1.5em;
        }

        .restaurant {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 100%;
            margin-bottom: 18px;
    
            img {
                display: flex;
                object-fit: cover;
                max-width: 100%;
                width: 100%;
                max-height: 174px;
                height: 100%;
                border-radius: 15px 15px 0 0;
            }
        }

        .restnew {
            position: relative;
        }
    
        .new {
            position: absolute;
            top: 14px;
            right: 12px;
            color: #008766;
            background: $clr-tertiary;
            font-weight: 500;
            padding: 6px 10px;
            font-size: 0.9rem;
            border-radius: 3px;
        }
    
        .text {
            position: relative;
            text-align: left;
            background: white;
            border-radius: 0 0 15px 15px;
    
            h4 {
                padding: 17px 0 6px 14px;
            }
    
            p {
                font-size: 1.06rem;
                font-weight: lighter;
                padding: 0px 0px 17px 14px;
            }
        }
    
        .coeurvide {
            position: absolute;
            top: 25px;
            right: 25px;
            font-size: 1.6em;
            color: #4b4b4b;
        }
    
        .coeurplein {
            position: absolute;
            top: 25px;
            right: 25px;
            font-size: 1.6em;
            color: transparent;
            opacity: 0;
            transition: opacity 0.5s;
            background-image: linear-gradient(10deg, $clr-secondary 4%, $clr-primary 100%);
            background-clip: text;
        
            &:hover {
                opacity: 1;
            }
        }
    }
}

footer {
    background: #353535;
    color:white;
    height: 197px;

    h1 {
        padding: 20px 0 0 25px;
        font-size: 20px;
    }

    ul {
        padding: 15px 0 0 20px;
    }

    li {
        padding-bottom: 8px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .fa-hands-helping {
        font-size: 11px;
        margin-right: 12px;
    }

    .fa-utensils {
        margin-right: 12px;
    }
}

/*Pages menus*/

header {
    .fa-arrow-left {
        color: #353535;
        position: absolute;
        left: 23px;
        top: 25px;
        font-size: 1.2rem;
    }
}

main {
    .photorestaurant {
        display: flex;
        flex-direction: column;

        img {
            max-width: 100%;
            max-height: 257px;
            height: 100%;
            object-fit: cover;
        }
    }

    .menu {
        display: flex;
        position: relative;
        flex-direction: column;
        max-width: 100%;
        background-color: #f6f6f6;
        padding: 31px 15px 83px 15px;
        border-radius: 35px 35px 0 0;
        margin-top: -30px;

        h4 {
            margin-top: 18px;
        }

        .title {
            display: flex;
            position: relative;
            margin-right: 3rem;
            font-size: 1.15rem;
    
            i {
                font-size: 1.6rem;
            }

        }

        .coeurvide1 {
            position: absolute;
            top: 38px;
            right: 38px;
            font-size: 1.6em;
            color: #4b4b4b;
        }

        .coeurplein1 {
            position: absolute;
            top: 38px;
            right: 38px;
            font-size: 1.6em;
            color: transparent;
            opacity: 0;
            transition: opacity 0.5s;
            background-image: linear-gradient(10deg, $clr-secondary 4%, $clr-primary 100%);
            background-clip: text;
        
            &:hover {
                opacity: 1;
            }
        }

        .cartemenu {

            h4 {
                margin: 30px 0 0 7px;
                position: relative;
                font-weight: normal;
                color: #7b7b7b;
            }

            &__barre {
                width: 40px;
                height: 3px;
                border: 1px solid $clr-tertiary;
                background-color: $clr-tertiary;
                margin: 9px 0 14px 6px;
            }

            .carte {
                display: flex;
                justify-content: space-between;
                background-color: white;
                border-radius: 15px;
                margin-bottom: 14px;
                cursor: pointer;
                overflow: hidden;
                animation: slide-item 1.3s .3s ease-in-out both;
        
                h3 {
                    margin: 16px 0 0 11px; 
                }
        
                p {
                    margin: 12px 0px 16px 11px;
                    font-size: 0.93em; 
                    font-weight: lighter;
                }
        
                &__txt {
                    flex: 1;
                    overflow: hidden;
                    white-space: nowrap;
        
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
        
                    h3 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                &__prix {
                    display: flex;
                    align-items: flex-end;
                    margin-right: 23px;
                
                    p {
                        font-weight: bold;
                    }

                } 

                &:hover {

                    .carte__animation {
                        margin-right:0;
                        transition: 0.35s ease-out;
                    }

                    i {
                        transform: rotate(-360deg);
                    } 

                    &:hover {

                        .carte__animation {
                            margin-right:0;
                            transition: 0.35s ease-out;
                        }    
                
                        i {
                            transform: rotate(0deg);
                            transition: 0.35s ease-out;  
                        }  
                    }
                }  
            
                &__animation {
                    margin-right: -59px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $clr-tertiary;
                    color: #fff;
                    width: 59px;
                    min-height: 100%;
                    font-size: 1.3rem; 
                
                    i {
                        transform: rotate(-360deg);
                    } 

                    &:hover {

                        .carte__animation {
                            margin-right:0;
                            transition: 0.35s ease-out;
                        }    
                
                        i {
                            transform: rotate(0deg);
                            transition: 0.35s ease-out;
                        }  
                    } 
                }
            }
        }

        .button2 {
            font-size: 1em;
            color: white;
            font-weight: 500;
            padding: 19px 49px;
            margin-top: 36px;
            border-radius: 35px;
            cursor: pointer;
            border: none;
            background: linear-gradient(170deg, $clr-secondary 4%, $clr-primary 100%);
            box-shadow: 1px 1px 5px #979393;
    
            &__command {
                text-align: center;
            }
    
            &:hover {
                opacity: 0.85;
                box-shadow: 1px 3px 5px #979393;
            }
        }
    }
}