/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@-webkit-keyframes appearance-body {
  0% {
    overflow: hidden;
  }
  80% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

@keyframes appearance-body {
  0% {
    overflow: hidden;
  }
  80% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

@-webkit-keyframes map-appearance {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes map-appearance {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes degrad {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes degrad {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotateY(0);
            transform: perspective(400px) rotateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
            transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
            transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(360deg) scale(0.95);
            transform: perspective(400px) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px) scale(1);
            transform: perspective(400px) scale(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) rotateY(0);
            transform: perspective(400px) rotateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
            transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
            transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(360deg) scale(0.95);
            transform: perspective(400px) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px) scale(1);
            transform: perspective(400px) scale(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

h1 {
  font-family: "Shrikhand";
  font-weight: 500;
}

h2, h3, h4, h5, h6, p, a, i, li, strong, span {
  font-family: "Roboto";
}

h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.08em;
}

h4 {
  font-size: 1.1em;
}

span {
  font-size: 1em;
}

a {
  text-decoration: none;
}

#home {
  -webkit-animation: appearance-body .01s 3s both;
          animation: appearance-body .01s 3s both;
}

.loadingspinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  -webkit-animation: loader .01s 3s both;
          animation: loader .01s 3s both;
  z-index: 9999;
}

.load {
  font-family: "Shrikhand";
  font-size: 3rem;
  max-width: 100%;
  background: linear-gradient(10deg, #99E2D0, #9356DC, #FF79DA, #99E2D0, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation: flip 3s ease-in-out, degrad 3s ease-in-out;
          animation: flip 3s ease-in-out, degrad 3s ease-in-out;
  background-size: 300%;
}

header .logo {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  font-size: 1.8em;
}

main .degrade {
  height: 6px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#eaeaea));
  background: linear-gradient(#cfcfcf, #eaeaea);
  border: none;
}

main .locate {
  background: #eaeaea;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .locate .fa-map-marker-alt {
  color: #353535;
}

main .locate p {
  margin-left: 19px;
  color: #575757;
  font-weight: 600;
}

main .entete {
  background: #f6f6f6;
  max-width: 100%;
  text-align: center;
  padding: 45px 30px 56px 39px;
}

main .entete p {
  font-size: 1.14em;
  font-weight: lighter;
  margin: 16px 0 32px 0;
}

main .entete h2 {
  padding-left: 13px;
}

main .entete .button {
  background: linear-gradient(170deg, #FF79DA 4%, #9356DC 100%);
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 15px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 5px #979393;
          box-shadow: 1px 1px 5px #979393;
}

main .entete .button:hover {
  opacity: 0.85;
  -webkit-box-shadow: 1px 3px 5px #979393;
          box-shadow: 1px 3px 5px #979393;
}

main .fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  max-width: 100%;
  padding: 52px 20px;
}

main .fonctionnement h3 {
  text-align: left;
  margin-bottom: 35px;
  font-size: 1.5em;
}

main .fonctionnement .fonct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  position: relative;
  max-width: 100%;
}

main .fonctionnement .fonct li {
  font-weight: bolder;
}

main .fonctionnement .fonct__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  height: 73px;
  max-width: 100%;
  padding-left: 37px;
  border: none;
  background: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  margin: 0 0 25px 13px;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px #e8e8e8;
          box-shadow: 1px 5px 10px #e8e8e8;
}

main .fonctionnement .fonct__1:hover {
  background: #f5edff;
  -webkit-box-shadow: 1px 5px 10px #c3b4d4;
          box-shadow: 1px 5px 10px #c3b4d4;
}

main .fonctionnement .fonct .fa-mobile-alt {
  margin-right: 28px;
  color: #7e7e7e;
}

main .fonctionnement .fonct .fonct__1:hover > .fa-mobile-alt {
  color: #9356DC;
}

main .fonctionnement .fonct__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  max-width: 100%;
  height: 73px;
  padding-left: 37px;
  border: none;
  background: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  margin: 0 0 25px 13px;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px #e8e8e8;
          box-shadow: 1px 5px 10px #e8e8e8;
}

main .fonctionnement .fonct__2:hover {
  background: #f5edff;
  -webkit-box-shadow: 1px 5px 10px #c3b4d4;
          box-shadow: 1px 5px 10px #c3b4d4;
}

main .fonctionnement .fonct .fa-list {
  margin-right: 24px;
  color: #7e7e7e;
}

main .fonctionnement .fonct .fonct__2:hover > .fa-list {
  color: #9356DC;
}

main .fonctionnement .fonct__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: center;
  max-width: 100%;
  height: 73px;
  padding-left: 37px;
  border: none;
  background: #f6f6f6;
  border-radius: 25px 25px 25px 25px;
  margin: 0 0 0 13px;
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 10px #e8e8e8;
          box-shadow: 1px 5px 10px #e8e8e8;
}

main .fonctionnement .fonct__3:hover {
  background: #f5edff;
  -webkit-box-shadow: 1px 5px 10px #c3b4d4;
          box-shadow: 1px 5px 10px #c3b4d4;
}

main .fonctionnement .fonct .fa-store {
  margin-right: 21px;
  color: #7e7e7e;
}

main .fonctionnement .fonct .fonct__3:hover > .fa-store {
  color: #9356DC;
}

main .fonctionnement .fonct__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26px;
  height: 26px;
  color: #fff;
  border: 5px solid transparent;
  border-radius: 50%;
  background: #9356DC;
  font-weight: 400;
  position: absolute;
  left: 2px;
}

main .restaurant {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  position: relative;
  max-width: 100%;
  padding: 60px 20px 42px 20px;
}

main .restaurant a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: black;
}

main .restaurant h3 {
  text-align: left;
  margin-bottom: 23px;
  font-size: 1.5em;
}

main .restaurant__carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 18px;
}

main .restaurant__carte img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 174px;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

main .restaurant__image {
  position: relative;
}

main .restaurant__vignette {
  position: absolute;
  top: 14px;
  right: 12px;
  color: #008766;
  background: #99E2D0;
  font-weight: 500;
  padding: 6px 10px;
  font-size: 0.9rem;
  border-radius: 3px;
}

main .restaurant__text {
  position: relative;
  text-align: left;
  background: #fff;
  border-radius: 0 0 15px 15px;
}

main .restaurant__text h4 {
  padding: 17px 0 6px 14px;
}

main .restaurant__text p {
  font-size: 1.06rem;
  font-weight: lighter;
  padding: 0px 0px 17px 14px;
}

main .restaurant .coeurvide {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.6em;
  color: #4b4b4b;
}

main .restaurant .coeurplein {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.6em;
  background-image: linear-gradient(10deg, #FF79DA 4%, #9356DC 100%);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

main .restaurant .coeurplein:hover {
  opacity: 1;
}

footer {
  background: #353535;
  color: #fff;
  height: 197px;
}

footer h1 {
  padding: 20px 0 0 25px;
  font-size: 20px;
}

footer ul {
  padding: 15px 0 0 20px;
}

footer li {
  padding-bottom: 8px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer .fa-hands-helping {
  font-size: 11px;
  margin-right: 12px;
}

footer .fa-utensils {
  margin-right: 12px;
}

/*Pages menus*/
header .fa-arrow-left {
  color: #353535;
  position: absolute;
  left: 23px;
  top: 25px;
  font-size: 1.2rem;
}

main .photorestaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .photorestaurant img {
  max-width: 100%;
  max-height: 257px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 100%;
  background-color: #f6f6f6;
  padding: 31px 15px 83px 15px;
  border-radius: 35px 35px 0 0;
  margin-top: -30px;
}

main .menu h4 {
  margin-top: 18px;
}

main .menu .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .menu .title i {
  font-size: 1.6rem;
}

main .menu .coeurvide1 {
  position: absolute;
  top: 38px;
  right: 38px;
  font-size: 1.6em;
  color: #4b4b4b;
}

main .menu .coeurplein1 {
  position: absolute;
  top: 38px;
  right: 38px;
  font-size: 1.6em;
  background-image: linear-gradient(10deg, #FF79DA 4%, #9356DC 100%);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

main .menu .coeurplein1:hover {
  opacity: 1;
}

main .menu .cartemenu .carte__entrees {
  -webkit-animation: map-appearance 1.5s .2s ease-in-out both;
          animation: map-appearance 1.5s .2s ease-in-out both;
}

main .menu .cartemenu .carte__plats {
  -webkit-animation: map-appearance 1.5s .6s ease-in-out both;
          animation: map-appearance 1.5s .6s ease-in-out both;
}

main .menu .cartemenu .carte__desserts {
  -webkit-animation: map-appearance 1.5s 1s ease-in-out both;
          animation: map-appearance 1.5s 1s ease-in-out both;
}

main .menu .cartemenu h4 {
  margin: 30px 0 0 7px;
  position: relative;
  font-weight: normal;
  color: #7b7b7b;
}

main .menu .cartemenu__barre {
  width: 40px;
  height: 3px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  margin: 9px 0 14px 6px;
}

main .menu .cartemenu .carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 14px;
  cursor: pointer;
  overflow: hidden;
}

main .menu .cartemenu .carte h3 {
  margin: 16px 0 0 11px;
}

main .menu .cartemenu .carte p {
  margin: 12px 0px 16px 11px;
  font-size: 0.93em;
  font-weight: lighter;
}

main .menu .cartemenu .carte__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

main .menu .cartemenu .carte__txt p {
  overflow: hidden;
  text-overflow: ellipsis;
}

main .menu .cartemenu .carte__txt h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

main .menu .cartemenu .carte__prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 23px;
}

main .menu .cartemenu .carte__prix p {
  font-weight: bold;
}

main .menu .cartemenu .carte:hover .carte--animation {
  margin-right: 0;
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

main .menu .cartemenu .carte:hover i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

main .menu .cartemenu .carte:hover:hover .carte--animation {
  margin-right: 0;
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

main .menu .cartemenu .carte:hover:hover i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

main .menu .cartemenu .carte--animation {
  margin-right: -59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  color: #fff;
  width: 59px;
  min-height: 100%;
  font-size: 1.3rem;
}

main .menu .cartemenu .carte--animation i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

main .menu .cartemenu .carte--animation:hover .carte--animation {
  margin-right: 0;
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

main .menu .cartemenu .carte--animation:hover i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.35s ease-out;
  transition: 0.35s ease-out;
}

main .menu .button2 {
  background: linear-gradient(170deg, #FF79DA 4%, #9356DC 100%);
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 19px 49px;
  margin-top: 36px;
  border-radius: 35px;
  -webkit-box-shadow: 1px 1px 5px #979393;
          box-shadow: 1px 1px 5px #979393;
}

main .menu .button2__command {
  text-align: center;
}

main .menu .button2:hover {
  opacity: 0.85;
  -webkit-box-shadow: 1px 3px 5px #979393;
          box-shadow: 1px 3px 5px #979393;
}
/*# sourceMappingURL=style.css.map */