@import "libs/reset.scss";

$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;

h1, h2, h3, h5, h6, p, a, i, li, strong, span {
    font-family: "Roboto"
}

h4 {
    font-family: "Shrikhand";
}

h1, h2, h3 {
    font-weight: bolder;
}

h1 {
    font-size: 1.57em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

span {
    font-size: 1em;
}

.centre {
    text-align: center;

}

.logo {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locate {
    background: #eaeaea;
    height: 50px;
}

.locate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-map-marker-alt {
    color: #353535;
}

.locate p {
    margin-left: 19px;
    color: #353535;
}

.entete {
    background: #f6f6f6;

    max-width: 100%;
    text-align: center;
    padding: 45px 30px 56px 39px;
}

.entete p {
    font-size: 1.05em;
    margin: 16px 0 32px 0;
}

.button {
    font-size: 1em;
    color: white;
    font-weight: 500;
    padding: 15px 15px;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    border: 1px solid transparent;
    background: linear-gradient(170deg, $clr-secondary 4%, $clr-primary 100%);
    box-shadow: 1px 1px 5px #979393;
}

.button:hover {
    opacity: 0.9;
    box-shadow: 1px 3px 5px #979393;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: center;
    padding: 52px 20px;
}

.fonctionnement h2 {
    text-align: left;
    margin-bottom: 35px;
}

.fonct {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: center;
}

.fonct li {
    font-weight: bolder;
}

.fonct1 {
    display: flex;
    max-width: 100%;
    text-align: center;
    height: 73px;
    width: 314px;
    align-items: center;
    justify-content: center;
    border: 1px solid #f6f6f6;
    background: #f6f6f6;
    border-radius: 25px 25px 25px 25px;
    margin: 0 0 25px 13px;
    cursor: pointer;
    box-shadow: 1px 5px 10px #e8e8e8;
}

.fonct1:hover {
    background: #f5edff;
}

.fa-mobile-alt {
    margin-right: 28px;
    color: #7e7e7e;
}

.fonct1:hover > .fa-mobile-alt {
    color: $clr-primary;
}

.fonct2 {
    display: flex;
    max-width: 100%;
    text-align: center;
    height: 73px;
    width: 314px;
    align-items: center;
    justify-content: center;
    border: 1px solid #f6f6f6;
    background: #f6f6f6;
    border-radius: 25px 25px 25px 25px;
    margin: 0 0 25px 13px;
    cursor: pointer;
    box-shadow: 1px 5px 10px #e8e8e8;
}

.fonct2:hover {
    background: #f5edff;
}

.fa-list {
    margin-right: 24px;
    color: #7e7e7e;
}

.fonct2:hover > .fa-list {
    color: $clr-primary;
}

.fonct3 {
    display: flex;
    max-width: 100%;
    text-align: center;
    height: 73px;
    width: 314px;
    align-items: center;
    justify-content: center;
    border: 1px solid #f6f6f6;
    background: #f6f6f6;
    border-radius: 25px 25px 25px 25px;
    margin: 0 0 0 13px;
    cursor: pointer;
    box-shadow: 1px 5px 10px #e8e8e8;
}

.fonct3:hover {
    background: #f5edff;
}

.fa-store {
    margin-right: 21px;
    color: #7e7e7e;
}

.fonct3:hover > .fa-store {
    color: $clr-primary;
}

.number {
    display: flex;
    width: 26px;
    height: 26px;
    color: white;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent;
    border-radius: 50% 50% 50% 50%;
    background: $clr-primary;
    font-weight: 400;
    position: absolute;
    left: 21px
}

.restaurants {
    background: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 60px 20px 42px 20px;
}

.restaurants h2 {
    text-align: left;
    margin-bottom: 23px;
}

.restaurant {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 1px 3px 10px #e5e5e5;
}

.restaurants .restaurant {
    margin-bottom: 18px;
}


.restaurant img {
    display: flex;
    object-fit: cover;
    max-width: 100%;
    height: 174px;
    width: 334px;
    border-radius: 15px 15px 0 0;
}

.restaurants a {
    display: block;
    text-decoration: none;
    color: black;
}

.text {
    text-align: left;
    background: white;
    border-radius: 0 0 15px 15px;
}

.text h3 {
    padding-top: 20px;
    padding-left: 14px; 
}

.text p {
    padding-bottom: 20px;
    padding-left: 14px; 
}

a {
    text-decoration: none;
}

footer {
    background: #353535;
    color:white;
    height: 197px;
}

footer h4 {
    padding: 20px 0 0 25px;
    font-size: 20px;
}

footer ul {
    padding: 15px 0 0 20px;
}

footer li {
    padding-bottom: 8px;
}

.fa-hands-helping {
    font-size: 11px;
}

.fa-utensils, .fa-hands-helping {
    margin-right: 12px;
}

footer a {
    text-decoration: none;
    color: white;
}